:root {
    /* Color Palette */
    --main-blue: #336EB1;
    --black: #000000;
    --white: #FFFFFF;
    --dark-blue: #23417A;
    --darker-blue: #131342;
    --blue-gray: #526586;
    --light-blue: #94B3C2;
}
